<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<ul>
    {{range .}}
        <li>{{.Fall.Term}} {{.AcaYear}}</li>
        <ul>
            {{range .Fall.Courses}}
                <li>{{.Number}} - {{.Name}} - {{.Units}}</li>
            {{end}}
        </ul>

        <li>
            {{.Spring.Term}} {{.AcaYear}}
        </li>
        <ul>
            {{range .Spring.Courses}}
                <li>{{.Number}} - {{.Name}} - {{.Units}}</li>
            {{end}}
        </ul>
    {{end}}
</ul>

</body>
</html>